
.modal-inner-container.no-signup .create-account-form > div:not(:first-child){
    display:none;
}

.modal-inner-container.company  .user-field-organization .instructions span:not(.company), 
.modal-inner-container.embassy .user-field-organization .instructions span:not(.embassy){
    display:none;
}

.modal-inner-container.signup .modal-footer{
    display:none;
}
.modal-inner-container.signup .modal-footer.show{
    display:block;
}

.modal-inner-container.signup .create-account-form .login-form .input-group{
    display:none;
}
.modal-inner-container.signup .create-account-form .login-form .input-group.show{
    display:block;
}

.modal-inner-container.signup .login-form button.next-button{
    display:block;
    margin: 0.2em 0.3em 0.2em auto;
}


body.custom-wizard .d-header-wrap .d-header{
    display:flex;
}


// --------- Formualr----------//
// General
body.custom-wizard {
  font-size: 1rem;
}
// Fomular Title 
body.custom-wizard .wizard-column h1.wizard-step-title p{
    font-size:20px;
    margin-bottom:20px;
}
// Group title
body.custom-wizard .wizard-field.text-only-field{
    font-size:16px;
    border-top: solid 1px #DDDDDD;
    padding-top:20px;
}
// Group seperator 
body.custom-wizard .wizard-field.step_1_field_6 {
  padding-top: 20px;
  border-top: solid 1px #DDD;
}
// Rest
body.custom-wizard .wizard-field{
    font-size:14px;
}
body.custom-wizard input.date-picker, 
body.custom-wizard .d-time-input .select-kit.combo-box .select-kit-header{
    font-size:14px;
}

body.custom-wizard .wizard-field .field-label p{
    margin:0;
}
